@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Marcellus+SC');

/* Home Page */

#content {
    width: 1200px;
    margin: 0 auto;
    font-family: "Roboto Mono", Courier, monospace;
}

nav a {
    text-align: center;
    color: #99cd21;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #7b2d26;
    color: #f9ffc8;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero_box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero_msg h1, #hero_msg h4 {
    text-align: center;
}

#hero_img {
    width: 100%;
}

.msg {
    background-color: #99cd21;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #7b2d26;
}

.msg h2 {
    color: #254000;
    font-family: "Marcellus SC", Helvetica, sans-serif;
}

.msg p {
    color: #f9ffc8;
    font-size: .8em;
    padding-bottom: 15px;
}

.button_box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #254000;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #f9ffc8;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #254000;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.8;
}

.book, .join {
    background-color: #99cd21;
    color: #254000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #7b2d26;
    color: #f9ffc8;
}

.join {
    background-color: #f9ffc8;
}

footer {
    background-color: #f9ffc8;
    color: #254000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #99cd21;
    text-decoration: none;
}

footer a:hover {
    color: #7b2d26;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home_title {
    color: #99cd21;
    font-family: "Marcellus SC", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #f9ffc8;
}

.logo {
    width: 150px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers_card, .camping_card, .rapids_card {
    margin: 200px 0;
}

.card_img {
    border: 10px solid #254000;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #99cd21;
}

.card_img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.home_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card_img, .mountains {
    width: 100%;
}

.rivers_card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping_card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids_card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #f9ffc8;
}

/* River Page */
#river_title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.river_title {   
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-top: 100px;
    color: #99cd21;
}

#river_float {
    width: 1200px;
    margin: 0 auto;
    font-family: "Roboto Mono", Courier, monospace;
}

.kings_river {
    float: left;
    padding: 25px;
    width: 750px;
    margin-top: 50px;
}

.river_info {
    color: #254000;
    text-align: left;
    padding-top: 60px;
    margin-bottom: 50px;
}

.river {
    text-align: center;
}

.river_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.split {
    grid-column: 1/11;
    grid-row: 1/2;
    width: 100%;
}

.history_back {
    height: 825px;
    background-color: #7b2d26;
    grid-column: 1/11;
    grid-row: 2/3;
    margin-top: 50px;
}

.history {
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
    color: #f9ffc8;
    margin-top: 150px;
    margin-right: 25px;
}

.log {
    grid-column: 6/10;
    grid-row: 2/3;
    width: 100%;
    margin-top: 150px;
}

@media screen and (max-width: 900px) {
    #hero, .home_grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero_msg {
        margin-top: 0;
    }
    #hero_msg h4 {
        display: none;
    }
    .home_title {
        font-size: 25px;
        color: #99cd21;
    }
    .rivers_card, .camping_card, .rapids_card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}