@import url('https://fonts.googleapis.com/css2?family=Itim&family=Comic+Neue&family=Marck+Script&family=Satisfy&display=swap');

/* All pages */
#content {
    width: 1300px;
    margin: 0 auto;
    font-family: "Itim", "Comic Neue", sans-serif;
}

body {
    background-color: #fbfefb;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-align: center;
    color: #594236;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: #1a5e63;
    color: #f6f5ae;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#logo_link {
    justify-self: center;
    align-self: center;
    position: relative;
}

.logo {
    width: 175px;
}

.text {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    text-align: center;
    opacity: 0;
}

#logo_link:hover .logo {
    opacity: 0;
}

#logo_link:hover .text {
    opacity: 1;
}

footer {
    background-color: #1a5e63;
    color: #f6f5ae;
    padding: 25px 50px;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #f6f5ae;
    text-decoration: none;
}

footer a:hover {
    color: #fbfefb;
    text-decoration: underline;
}


/* Home page */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: "Satisfy", "Marck Script", sans-serif;
    color: #1a5e63;
    font-size: 22px;
}

#hero_box {
    grid-column: 1/4;
    grid-row: 2/3;
}

#hero_img {
    width: 100%;
    border-radius: 3px;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-top: 50px;
}

.about_msg {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #1a5e63;
    color: #f6f5ae;
    padding: 30px;
}

#wildflowers {
    grid-column: 2/5;
    grid-row: 2/5;
    z-index: -1;
    width: 100%;
    border-radius: 3px;
}


/* Collections page */
#collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.collect_title {
    grid-column: 2/3;
    color: #594236;
    text-align: center;
    margin-bottom: 50px;
}

.places_img {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 75%;
    justify-self: center;
    border-radius: 3px;
}

.parks_img {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 75%;
    justify-self: center;
    border-radius: 3px;
}

.outdoors_img {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 75%;
    justify-self: center;
    border-radius: 3px;
}

/* Tabs */
.tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/4;
    grid-row: 3/4;
    overflow: hidden;
    border: none;
    background-color: #fbfefb;
}

.tab button {
    background-color: inherit;
    border: none;
    color: #594236;
    font-family: "Itim", "Comic Neue", sans-serif;
    font-size: 1em;
}

.tab button:hover {
    background-color: #f6f5ae;
}

.tab button.active {
    background-color: #1a5e63;
    color: #fbfefb;
}

#places_link {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 75%;
    justify-self: center;
    margin-top: 20px;
}

#parks_link {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 75%;
    justify-self: center;
    margin-top: 20px;
}

#outdoors_link {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 75%;
    justify-self: center;
    margin-top: 20px;
}

#other_link {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 75%;
    justify-self: center;
    margin-top: 100px;
}

.tabcontent {
    grid-column: 1/4;
    grid-row: 4/5;
    display: none;
    padding: 6px 12px;
    margin-top: 20px;
}

.tabcontent p {
    color: #594236;
    text-align: center;
}

/* Image grid */
.tabcontent button {
    background-color: #594236;
    border: none;
    color: #fbfefb;
    font-family: "Itim", "Comic Neue", sans-serif;
    font-size: 1em;
    margin: 0 auto;
}

.tabcontent button.active {
    background-color: #1a5e63;
}

.tabcontent .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.tabcontent .column {
    flex: 50%;
    padding: 0 4px;
}

.tabcontent .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Scroll to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #1a5e63;
    color: #f6f5ae;
    cursor: pointer;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #594236;
}


/* Requests page */
#title {
    display: grid;
    grid-template-columns: 5fr 3fr;
    margin-top: 25px;
}

.request {
    grid-column: 1/2;
    width: 100%;
    border-radius: 3px;
}

.title_msg {
    font-family: "Satisfy", "Marck Script", sans-serif;
    color: #1a5e63;
    text-align: center; 
    padding: 100px;
    align-self: center;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1a5e63;
    margin: 50px 0px;
    padding: 20px;
}

.form_msg {
    grid-column: 1/2;
    padding: 50px;
    color: #f6f5ae;
    align-self: center;
}

/* Form */
form {
    grid-column: 2/3;
    width: 450px;
    margin: 0 auto;
    /* Form outline */
    padding: 1em;
    border: 2px solid #f6f5ae;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: block;
    width: 60px;
    text-align: left;
    font-size: .75em;
    color: #f6f5ae;
}

input, textarea {
    /* To make sure all text fields have the same font settings
    By default, textareas have a monospace font */
    font: 1em 'Itim';

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match for field borders */
    border: 1px solid #f6f5ae;
}

input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #1a5e63;
}

textarea {
    /* Provide space to type some text */
    height: 5em;
}

.button {
    background-color: #f6f5ae;
	color: #594236;
	border: 1px solid #594236;
    border-radius: 5px;
	height: 40px;
	width: 120px;
	font: bold 15px "Itim", "Comic Neue", sans-serif;
    float: right;
    transition: 0.3s;
}

.button:hover {
    opacity: 0.6;
}

#feedback {
    background-color: #fbfefb;
    color: #594236;
    border-radius: 1em;
    position: absolute;
    left: 67%;
    right: 20%;
    padding: 10px;
    text-align: center;
    align-self: center;
    /* make this element invisible until we are ready for it */
    display: none;
}

#info {
    color: #594236;
    text-align: center;
    padding: 0px 200px;
}

#crazy {
    display: grid;
    grid-template-columns: 5fr 3fr;
    margin-top: 50px;
}

.crazy_img {
    grid-column: 1/2;
    width: 100%;
    border-radius: 3px;
}

#crazy p {
    grid-column: 2/3;
    color: #594236;
    align-self: center;
    padding: 50px;
}


@media screen and (max-width: 700px) {
    #hero, .about, #title, #form, #crazy {
        display: block;
        height: auto;
        font-size: .8em;
        width: 80%;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero, #hero_msg {
        margin-top: 0;
    }

    .wildflowers {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    img {
        max-width: 80%;
    }

    p, h1, h2, #collection {
        width: 80%;
    }

    .button {
        font-size: 12px;
        width: 70px;
    }

    form {
        padding-bottom: 70px;
    }
}